DATABASE_HOST="localhost"
DATABASE_PORT=5432
DATABASE_USERNAME="myuser"
DATABASE_PASSWORD="mypassword"
DATABASE_NAME="mydatabase"
JWT_SECRET="DO NOT USE THIS VALUE. INSTEAD, CREATE A COMPLEX SECRET AND KEEP IT SAFE OUTSIDE OF THE SOURCE CODE."